.carousel{
    width: 100%;
    padding: 1rem 0;

    &__slide-container {
        @include flex-center;
        height: 50px;
        cursor: pointer;

        & > .box {
            font-weight: 700;
            font-size: 2rem;
        }
    }
    
    &__ctrls {
        @include flex-center;
        font-size: 3rem;
    }
}

@include SmallDevice{
    .carousel{
    }
}


@include MediumDevice{
    .carousel{
    }
}

@include OnEmbedDevice(){
    .carousel{

    }
}
