.carousel{
    width: 100%;
    padding: 1rem 0;

    &__slide-container {
        @include flex-center;
        height: 50px;
        cursor: pointer;
    }

    &__text {
        font-size: 1.4rem;
    }
    
    &__ctrls {
        @include flex-center;
        width: 100px;
        margin: auto;
        font-size: 4rem;
    }

    &__ctrl-btn {
        font-family: $font-2;
        font-weight: bold;
        cursor: pointer;

        &.disabled {
            opacity: 0.3;
            cursor: initial;
        }
    }

    &__prev {
        margin-right: auto;
    }

    &__next {
        margin-left: auto;
    }
}

@include SmallDevice{
    .carousel{
    }
}


@include MediumDevice{
    .carousel{

        &__text {
            font-size: 2.3rem;
        }
    }
}
