/*
* Common Variables
*/
$color-1: #333 !default;
$color-2: #fff !default;
$color-3: #246EC3; 
$color-4: #E7E7E7; 
$color-5: #76BC16;

$e-green-light: #def1e7;
$e-green: #5CC18D;
$e-green-dark: #3c7b5b;

$gradient-1: linear-gradient(90deg, rgba(42,236,167,1) 74%, rgba(0,212,255,1) 100%);

$font-1: 'Merriweather', serif;
$font-2: 'Lora', serif;

$res-url:"";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
