
/*
* Common Variables
*/
$color-1: #00090f !default;
$color-2: #fff !default;
$color-3: #246EC3; 
$color-4: #E7E7E7; 
$color-5: #76BC16;


$font-1:"brandon-grotesque",sans-serif;
$font-2:$font-1;


$res-url:"";


/****************************
*****************************
**** COMPONENT VARIABLES ****
*****************************
*****************************/

//FOOTER COMPONENT