.homepage{
    @include flex-center;
    width: 100vw;
    min-height: 100vh;
    padding: 2rem;
    background: $e-green-light;
}

@include SmallDevice{
    .homepage{
    }
}


@include MediumDevice{
    .homepage{
    }
}
