.homepage{
    @include flex-center;
    width: 100vw;
    min-height: 100vh;
    padding: 2rem;
}

@include SmallDevice{
    .homepage{
    }
}


@include MediumDevice{
    .homepage{
    }
}

@include OnEmbedDevice(){
    .homepage{

    }
}
